{{> header}}
<h2 class="text-center mb-4">Liste des personnages Marvel</h2>
<div class="row">
    {{#each characters}}
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="{{imageUrl}}" class="card-img-top" alt="{{nom}}">
                <div class="card-body">
                    <h5 class="card-title">{{nom}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
{{> footer}}
